body {
    margin: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    color: #432818;
    background-color: #fffcf2;
    border: 8px solid #d5bdaf;
}
.profile {
    width : 150px;
    border: 3px solid #d6ccc2;
}